body, 
a,
p,
ul, ol, 
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
ul, ol{
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
header{
    padding: 15px 23px;
    display: flex;
    justify-content:space-between;
    background-color: #0086FF;
}
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  background-color: #0086FF;
  padding-top: 30px;
  font-weight: 500;
  transition: right 0.5s ease;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #000;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover{
  color: #e5e5e5;
}
.sidenav.active {
  right: 0;
}
.container{
  margin: 0 20px;
  overflow: hidden;
}
.container div{
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}
.container h2{
  font-size: 20px;
  margin-bottom: 10px;
}
.container p{
  margin-bottom: 26px;
}
.container h4{
  text-align: center;
  font-weight: 400;
}
.intro a{
  color: #fff;
  background-color: #0088ffb5;
  border-radius: 20px;
  padding: 12px 24px;
  transition: 0.3s;
}
.intro a:hover{
  background-color: #0086FF;
}
.services h2{
  text-align: center;
}
.service {
  width: 100%;
}
.image{
  text-align: center;
  margin: 0;
  padding: 0;
}
.service h4{
  font-weight: 600;
}
.service p{
  font-size: 13px;
  text-align: center;
}
.simulation{
  padding: 20px 0;
  color: #fff;
  background: linear-gradient(174deg, #7900FF 0%, #FF7900 100%);
}
.simulation h4,
.simulation h2{
  text-align: center;
}
.simulation h4{
  font-weight: 400;
}
.left label,
.left input{
  display: block;
}
.left label,
.left input{
  width: 100%;
}
.left div:first-of-type{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.simulation-btn {
  padding: 10px 25px;
  background-color: #fff;
  opacity: 0.65;
  transition: 0.3s;
}

.simulation-btn:hover{
  opacity: 0.9;
}
.active{
  opacity: 1 !important;
}
input[type="range"]{
  background-color:transparent;
  appearance: none;
  outline: none;
  cursor: pointer;
}
input[type="range"]::-moz-range-track{
  background-color: #fff;
}
input[type="range"]::-moz-range-thumb{
  background-color: #fff;
  border-color: #FF7900;
}
.right {
  color: #000;
}
.result {
  display: flex;
  justify-content: space-around;
  background-color: #e5e5e5be;
}
.right a {
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}
.client-rev h4,
.client-rev h2 {
  text-align: center;
}
.items{

}
.item {
  position: absolute; /* postulat de départ */
  right: 15%; left: 15%; /* à 50%/50% du parent référent */
  background-color: #0086FF;
  border-radius: 20px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.item .image {
  margin: 0;
  padding: 0;
}
.item .image img{
  width: 75px;
  height: 75px;
  background: #e5e5e5;
  border-radius: 100%;
}
.item p {
  text-align: center;
  margin: 0;
  color: #FFF;
  font-size: 15px;
}
.long-text {
  font-size: 12px !important;
  font-style: italic;
  padding: 10px 20px 20px 20px;
  text-align: left !important;
}

.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}
.prev {
  z-index: 2;
  opacity: 0.20;
  transform: translate(25%, 0%);
}
.next {
  z-index: 2;
  opacity: 0.20;
  transform: translate(-25%, 0%);
}


.items .button-container {
  position: absolute;
  right: 15%; left: 15%;
  z-index: 100;
}

.button-container .button {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  position: relative;
  opacity: 0.55;
  transition: all 300ms ease-in-out;
}
.button-container .button:hover {
  opacity: 1;
}
/*.button-container .button:before {
  content: "";
  position: absolute;
  right: 15%; left: 15%;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}*/
.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}