body, 
a,
p,
ul, ol, 
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
ul, ol{
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
header{
    padding: 15px 23px;
    display: flex;
    justify-content:space-between;
    background-color: #0086FF;
}
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  background-color: #0086FF;
  padding-top: 30px;
  font-weight: 500;
  transition: right 0.5s ease;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #000;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover{
  color: #e5e5e5;
}
.sidenav.active {
  right: 0;
}
.container{
  margin: 0 20px;
  overflow: hidden;
}
.container div{
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}
.container h2{
  font-size: 20px;
  margin-bottom: 10px;
}
.container p{
  margin-bottom: 26px;
}
.intro a{
  color: #fff;
  background-color: #0088ffb5;
  border-radius: 20px;
  padding: 12px 24px;
  transition: 0.3s;
}
.intro a:hover{
  background-color: #0086FF;
}
.services h2,
.services h4{
  text-align: center;
}
.services h4{
  font-weight: 400;
}
.service {
  width: 100%;
}
.service div{
  text-align: center;
  margin: 0;
  padding: 0;
}
.service h4{
  font-weight: 600;
}
.service p{
  font-size: 13px;
  text-align: center;
}
.simulation{
  padding: 20px 0;
  color: #fff;
  background: linear-gradient(174deg, #7900FF 0%, #FF7900 100%);
}
.simulation h4,
.simulation h2{
  text-align: center;
}
.simulation h4{
  font-weight: 400;
}
.left label,
.left input{
  display: block;
}
.left label,
.left input{
  width: 100%;
}
.left div:first-of-type{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.left a{
  padding: 10px 25px;
  background-color: #fff;
  opacity: 0.65;
  transition: 0.3s;
}

.left a:hover{
  opacity: 0.9;
}
.active{
  opacity: 1 !important;
}
input[type="range"]{
  background-color:transparent;
  appearance: none;
  outline: none;
  cursor: pointer;
}
input[type="range"]::-moz-range-track{
  background-color: #fff;
}
input[type="range"]::-moz-range-thumb{
  background-color: #fff;
  border-color: #FF7900;
}